<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'PAGES.PICKUP.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ionViewDidEnter()">
        <fa-icon icon="sync"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'PAGES.PICKUP.TITLE' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="ionViewDidEnter()">
          <fa-icon icon="sync"></fa-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ng-template [ngIf]="loaded">
      <ion-button (click)="dialog()">Pick folder</ion-button>
      <ion-list class="round" lines="full" *ngIf="options.length > 0">
        <ion-header>
          iTunes Backup
        </ion-header>
        <ion-item *ngFor="let opt of options | orderBy : 'date' : true" button (click)="select(opt)"
          [detail]="!!!opt.error">
          <ion-label>
            <h1 *ngIf="!!!opt.error">{{ opt.name }}<span *ngIf="!!!opt?.chatStorage"> ({{
                ('PAGES.PICKUP.INVALID_MISSING' | translate) }})</span> </h1>
            <h1 *ngIf="!!opt.error"><span style="color: red;">{{ 'PAGES.PICKUP.FAIL' | translate }}</span></h1>
            <h2 *ngIf="!!!opt.error">{{ opt.device }} / {{ opt.version }} / {{ opt.serial }}</h2>
            <h3 *ngIf="!!!opt.error">{{ opt.date | amDateFormat: 'LL, LT' }} ({{ opt.date | amTimeAgo }})</h3>
            <p>{{ opt.path }}</p>
            <p *ngIf="!!opt.error">{{ opt.error | translate }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <h2 color="primary" *ngIf="options.length === 0">{{ 'PAGES.PICKUP.EMPTY' | translate }}ddd</h2>
    </ng-template>

    <h2 color="primary" *ngIf="!loaded">{{ 'PAGES.PICKUP.LOADING' | translate }}</h2>
  </div>
</ion-content>
